{% extends "base.html" %}

{% block content %}

    {% if all_actors %}

        {% for actor in all_actors %}
        <hr>
        <p style="color: #451151;"><strong>{{actor.name}} {{actor.surname}}</strong></p>
            {% if actor.movies %}

            <p>Filmography:</p>
                {% for movie in actor.movies  %}
                
                <p><i><strong>{{ movie.title }}</strong></i>  </p>
                
                {% endfor %}


            {% endif %}


        {% endfor %}


    {% endif %}


    

{% endblock %}