<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movie Lovers</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #451151;">
    <div class="container">

        <button class="navbar-toggler" type="button" 
                data-toggle="collapse" data-target="#navbarText" 
                    aria-controls="navbarText" aria-expanded="false" 
                    aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" />
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">


                {% if current_user.is_authenticated %}

                    <li class="nav-item">
                        <a class="navbar-brand" href="{{url_for('allmovies')}}">myMovies</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="{{url_for('allactors')}}">myActors</a>
                    </li>                                      
                    <li class="nav-item">
                        <a class="navbar-brand" href="{{url_for('logout')}}">Logout</a>
                {% else %}
                <li class="nav-item">
                        <a class="navbar-brand" href="{{url_for('register')}}">Register</a>
                </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="{{url_for('login')}}">Login</a>
                    </li>

                                    
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <br>
    {% block content %}
    {% endblock %}
</div>


<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>