{% extends "base.html" %}

{% block content %}

    {% if all_movies %}

        {% for movie in all_movies %}
        <hr>
        <p style="color: #451151;"><strong>{{movie.title}}</strong> </p>
        <p><strong>Country: </strong>{{movie.country}}</p>
        <p><strong>Releades date: </strong>{{movie.released}}</p>
        <p><strong>Runtime: </strong>{{movie.runtime}} min.</p>
            {% if movie.actors  %}

            <p><strong>Actors:</strong></p>
                {% for actor in movie.actors %}
                <p><i>{{ actor.name }} {{ actor.surname }}</i>  </p>

                {% endfor %}

            {% endif %}

        {% endfor %}


    {% endif %}


{% endblock %}