{% extends "base.html" %}

{% block content %}
<h4>Congratulations! You have created Account on Movie Lovers. </h4>
<br>
<h4 style="color: #451151;">Now you can Login.</h4>
<br>
<div
  class="bg-image"
  style="
    background-image: url('https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQTQ_NbErzAo8aTh8gQ8BmHNEwmt0q8OiGzRuWcYbnk0XkTpxtI-hnb6MxPkeb9a3IGYvFQN9M5XoI_QXlf5_l33ISIKk52Ah7nb-VoX_MmpuS8vzVcz9BVDwUheyk8j6H8H-mfboDfl0jcn90rpkRfLcsT4.jpg?r=86e');
    height: 30vh; 
  "
></div>

{% endblock %}